.estilotextoroxo {
    color: blueviolet;
    font-size: 30pxt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.estilotextoazul {
    background-color: aqua;
}
.estilotexto{
    color: rgb(187, 45, 45);
    font-family: Georgia, 'Times New Roman', Times, serif;
}